<br><br><br><br>
<div style="display: flex; justify-content: center; align-items: center;">
  <button class="btn btn-outline-info" [routerLink]="['/gift-management']" style="margin-right: 30px;">Gifts</button>
  <button class="btn btn-outline-primary" [routerLink]="['/product-management']">Products</button>
  <button class="btn btn-outline-primary" [routerLink]="['/category-management']">Categories</button>
  <button class="btn btn-outline-success" style="margin-left: 30px;"
    [routerLink]="['/reclamation-management']">Reclamations</button>
</div>

<br>
<nav class="navbar navbar-expand-lg navbar-toggler bg-white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <h1 style="margin-left: 10px;font-size: 30px;">Product list</h1>

    </ul>
    <input class="form-control" style="margin-left: 15px;width: 250px;" type="text" placeholder="Search" [(ngModel)]="searchText">
  </div>
</nav>
<div class="card-body">
  <div class="table-responsive" id="main-container">
    <table class="table table-striped">
      <thead class="">
        <th>Reference</th>
        <th> Product name </th>
        <th> Category name</th>
        <th> Product price </th>
        <th> Quantity </th>
        <th>Product image</th>
        <th>Expiration Date </th>
        <th>Added by</th>
        <th>User email</th>
        <th> Valid </th>
        <th style="text-align: center;"> Actions </th>
      </thead>
      <tbody>
        <tr *ngFor="let p of allProducts | search:searchText">
          <td> {{ p.referenceProduct}} </td>
          <td> {{ p.nameProduct}} </td>
          <td> {{ p.categoryProduct.nameCategory}}</td>
          <td> {{ p.priceProduct}} DT</td>
          <td> {{p.quantityProduct}}</td> 
      
          <td style="align-items: center;">
            <img src="../../../assets/img/ProductsAndGiftManagement/{{p.imageProduct}}" height="50" width="50">
          </td>
          <td>{{p.expirationDateProduct}}</td>
          <td>{{p.userProduct.firstName}} {{p.userProduct.lastName}}</td>
          <td>{{p.userProduct.email}}</td>
          <td style="text-align: center;">
            <span [ngClass]="{'green-tick': !p.expired, 'red-cross': p.expired}">
              <i *ngIf="!p.expired" class="fa fa-check" style="color: green;font-size: 18px;"></i>
              <i *ngIf="p.expired" class="fa fa-times" style="color: red;font-size: 18px;"></i>
            </span>
          </td>
          <td style="text-align: center;">

            <a (click)="onOpenModal(p, 'details')" mat-raised-button type="button" matTooltip="Detail product"
              class="btn btn-info btn-link btn-sm btn-just-icon"><i class="fa fa-info"></i> </a>
          </td>

        </tr>


      </tbody>
    </table>



  </div>
</div>


<!-- Create chart here. -->
<div>
  <div class="chartContainer" style="display: inline-block; width: 50%; height: 50%;">
    <div id="chart">
      <div  style="font-weight: bold;">Percentage of categories accourding to their products</div>
      <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
        [responsive]="chartOptions.responsive"></apx-chart>
    </div>
  </div>

  <div class="chartContainer" style=" display: inline-block; width: 50%; height: 50%;">
    <div id="chartApex">
      <div style=" font-weight: bold;">Percentage of products expiration date</div>
      <apx-chart [series]="chartOptionsApex.series" [chart]="chartOptionsApex.chart" [labels]="chartOptionsApex.labels"
        [responsive]="chartOptionsApex.responsive"></apx-chart>
    </div>
  </div>
</div>







<!-- Details Product Modal -->
<div class="modal fade" id="productDetailsModal" tabindex="-1" role="dialog" aria-labelledby="productDetailsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <b>
          <h5 class="modal-title" id="productDetailsModalLabel"> Details Product with id {{detailsProduct?.idProduct
            }}
          </h5>
        </b>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <input type="hidden" ngModel="{{detailsProduct?.idProduct}}" name="idProduct" class="form-control"
            id="idProduct" placeholder="idProduct">

          <div class="input_box" style="float:left;padding-right: 10px;">
            <input type="text" ngModel="{{detailsProduct?.referenceProduct}}" name="referenceProduct"
              class="form-control" id="referenceProduct" aria-describedby="referenceProduct" readonly>
            <div class="icon"><i class="fa fa-info-circle" aria-hidden="true" style="color: #4d82a3;"></i></div>
          </div>
          <div class="input_box" style="float:left; padding-right: 10px;">
            <input type="text" ngModel="{{detailsProduct?.nameProduct}}" name="nameProduct" class="form-control"
              id="nameProduct" aria-describedby="nameProduct" readonly>
            <div class="icon"><i class="fa fa-arrow-right" aria-hidden="true" style="color: #4d82a3;"></i></div>
          </div>
          <div class="input_box" style="float:left; padding-right: 10px;">
            <input type="text" *ngIf="detailsProduct?.categoryProduct.archived"
              ngModel="{{detailsProduct?.categoryProduct.nameCategory}}" name="nameCategory" class="form-control"
              id="nameCategory" aria-describedby="nameCategory" readonly style="color: red;">
            <input type="text" *ngIf="!detailsProduct?.categoryProduct.archived"
              ngModel="{{detailsProduct?.categoryProduct.nameCategory}}" name="nameCategory" class="form-control"
              id="nameCategory" aria-describedby="nameCategory" readonly>
              


            <div class="icon"><i class="fa fa-arrow-right" aria-hidden="true" style="color: #4d82a3;"></i></div>
          </div>
          <div class="input_box" style="float:left;padding-right: 10px;">
            <input type="text" ngModel="{{detailsProduct?.priceProduct}}" name="priceProduct" class="form-control"
              id="priceProduct" aria-describedby="priceProduct" readonly>
            <div class="icon"><i class="fa fa-money" aria-hidden="true" style="color: #4d82a3;"></i></div>
          </div>
          <div class="input_box" style="float:left;padding-right: 10px;">
            <input type="text" ngModel="{{detailsProduct?.quantityProduct}}" name="quantityProduct" class="form-control"
              id="quantityProduct" aria-describedby="quantityProduct" readonly>
            <div class="icon"><i class="fa fa-shopping-cart" aria-hidden="true" style="color: #4d82a3;"></i></div>
          </div>
          <div class="input_box" style="float:left;padding-right: 10px;">
            <input type="text" ngModel="{{detailsProduct?.expirationDateProduct}}" name="expirationDateProduct"
              class="form-control" id="expirationDateProduct" aria-describedby="expirationDateProduct" readonly>
            <div class="icon"><i class="fa fa-calendar" aria-hidden="true" style="color: #4d82a3;"></i></div>
          </div>
          <div class="input_box" style="float:left;padding-right: 10px;">
            <input type="text"
              ngModel="{{detailsProduct?.userProduct.firstName}} {{detailsProduct?.userProduct.lastName}}"
              name="firstName" class="form-control" id="firstName" aria-describedby="firstName" readonly>
            <div class="icon"><i class="fa fa-user" style="color:#4d82a3;"></i></div>
          </div>

          <div class="input_box" style="float:left;padding-right: 10px;">
            <input type="text" ngModel="{{detailsProduct?.userProduct.email}}" name="email" class="form-control"
              id="email" aria-describedby="email" readonly>
            <div class="icon"><i class="fa fa-envelope" style="color: #4d82a3;"></i></div>
          </div>

          <br>
          <div class="form-group" style="float:left; text-align: center;">
            <label for="expired" style="color: green ;font-size: 17px;"><i class="fa fa-clock-o" aria-hidden="true"></i>
              <label style="color: black;font-size: 17px">
                {{getDateDiffInDays(detailsProduct?.expirationDateProduct,detailsProduct?.categoryProduct)}}
              </label>
            </label>
            <br>
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>
</div>










<style>
  .button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button2 {
    background-color: #66BA63;
  }

  /* green */
  .button3 {
    background-color: #80D07D;
  }

  /* Red */
  .button4 {
    background-color: #5C905A;
    color: black;
  }

  /* Gray */
  .button5 {
    background-color: #555555;
  }

  /* Black */



  html,
  body {
    display: grid;
    height: 100vh;
    place-items: center;
    background: #be2edd;
  }

  .main_div {
    width: 365px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }

  .main_div .title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }

  .main_div .social_icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .social_icons a {
    display: block;
    height: 45px;
    width: 100%;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s linear;
  }

  .social_icons a span {
    margin-left: 5px;
    font-size: 18px;
  }

  .social_icons a:first-child {
    margin-right: 5px;
    background: #4267B2;
  }

  .social_icons a:first-child:hover {
    background: #375695;
  }

  .social_icons a:last-child {
    margin-left: 5px;
    background: #1DA1F2;
  }

  .social_icons a:last-child:hover {
    background: #0d8bd9;
  }

  form {
    margin-top: 25px;
  }

  form .input_box {
    height: 50px;
    width: 50%;
    position: relative;
    margin-top: 15px;
  }

  .input_box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 45px;
    font-size: 14px;
    transition: all 0.3s ease;
  }

  .input_box input:focus {
    border-color: darkcyan;
  }

  .input_box .icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: grey;
  }

  form .option_div {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }

  .option_div .check_box {
    display: flex;
    align-items: center;
  }

  .option_div span {
    margin-left: 5px;
    font-size: 16px;
    color: #333;
  }

  .option_div .forget_div a {
    font-size: 16px;
    color: darkcyan;
  }

  .button input {
    padding-left: 0;
    background: darkcyan;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
  }

  .button input:hover {
    background: darkcyan;
  }

  form .sign_up {
    text-align: center;
    margin-top: 25px;
  }

  .sign_up a {
    color: darkcyan;
  }

  form a {
    text-decoration: none;
  }

  form a:hover {
    text-decoration: underline;
  }


  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
  }

  .form .column {
    display: flex;
    column-gap: 15px;
  }

  .form :where(.select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }

  .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .input-box {
    width: 50%;
    position: relative;
  }
</style>