<div class="main-content">
    <div class="container-fluid">


       




        <div class="row">

            <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                <div class="row">

                    <div class="col-md-3">
                        <button mat-raised-button class="btn btn-outline-primary btn-rounded" mdbRipple
                            rippleColor="dark" >Dashboard</button>
                    </div>
                

                    <div class="col-md-3">
                        <button mat-raised-button class="btn btn-outline-secondary btn-rounded" mdbRipple
                            rippleColor="dark" >Donations</button>
                    </div>
                    <div class="col-md-3">
                        <button mat-raised-button class="btn btn-outline-success btn-rounded" mdbRipple
                            rippleColor="dark">Associations</button>
                    </div>
                    <div class="col-md-3">
                        <button mat-raised-button class="btn btn-outline-danger btn-rounded" mdbRipple
                            rippleColor="dark" >Requests</button>
                    </div>


                </div>
            </div>
        </div>


       
    </div>








    </div>
   











